{% extends 'base.html' %}
{% load static %}

{% block title %}Post{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block body %}
<main class="dark-mode" id="main">
  <section class="container text-white pt-4">
      <form action="{% url 'post:post' %}" method="post">{% csrf_token %}
        <div class="form-group py-2">
          <label for="title"><h3>Publicar novo conteúdo:</h3></label>
          <input type="text" name="title" placeholder="Escreva o titulo aqui..." class="form-control border-black" id="title" aria-describedby="titleHelp">
        </div>
        <textarea name="text-content" id="mytextarea"></textarea>
        <div class="d-flex justify-content-end py-4">
          <input type="submit" class="btn btn-dark btn-sm" value="Publicar conteúdo">
        </div>
      </form>
  </section>
</main>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script> 
  var simplemde = new SimpleMDE({
    element: document.getElementById('mytextarea')
  });
</script>
{% endblock %}