{% extends 'base.html' %}
{% load static %}

{% block title %}{{post.title}}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block body %}
<main class="dark-mode" id="main">
  <section class="container pt-4 d-flex">
    <aside class="d-flex flex-column justify-content-start align-items-center p-2 m-4">
      <form action="{% url 'post:vote' post.id %}" method="POST" class="d-flex flex-column justify-content-start align-items-center">{% csrf_token %}
        <input type="hidden" name="type" value="post">
        <input type="hidden" name="id-post" value="{{post.id}}">
        <button type="submit" name="vote" value="up" style="border: none; background: none; color: inherit;" class="bi bi-chevron-up"></button>
        <p style="color: #1174f5; font-size: 14px;" class="m-0">{{post.likes}}</p>
        <button type="submit" name="vote" value="down" style="border: none; background: none; color: inherit;" class="bi bi-chevron-down"></button>
      </form>
      <p style="border-right: 1px dotted rgba(255, 255, 255, 0.2); min-height: 90%;" class="m-0"></p>
    </aside>
    <div style="width: 100%;">
      <div class="d-flex p-0">
        <p><a class="creator" href="{% url 'client:profile' post.creator.id %}">{{ post.creator }}</a></p>
        <p class="date">{{post.creation_date}}</p>
      </div>
      <iframe src="{{ render_post_url }}" id="iframe-post" frameborder="0" style="width: 100%;"></iframe>
      <!-- <iframe src="http://20.20.0.225:8000//render_post/{{post.id}}" id="iframe-post" frameborder="0" style="width: 100%;"></iframe> -->
    </div>
  </section>
  <section class="container text-white pt-4 mt-3">
    <button type="button" value="Publicar conteúdo" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#myModal" id="respond-post">Responder</button>
  </section>
  {% include 'partials/comment.html' with first_listing=True %}
</main>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Responder o Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'post:comment' post.id %}" method="post">{% csrf_token %}
        <div class="modal-body">
          <input type="hidden" name="type" value="post">
          <input type="hidden" name="id-post" value="{{post.id}}">
          <textarea name="text-content" id="mytextarea"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Responder</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
  const htmlContents = document.getElementsByClassName('hidden');
  const showElements = document.getElementsByClassName('show');

  for (let i = 0; i < htmlContents.length; i++) {
    const converter = new showdown.Converter();
    let text = htmlContents[i].innerHTML;
    text = text.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
    showElements[i].innerHTML += converter.makeHtml(text);
  }

  const elements = document.getElementsByName('text-content')  
  for (let i = 0; i < elements.length; i++) {
    var simplemde = new SimpleMDE({
      element: elements[i]
  })};

  
  function adjustIframeHeight() {
    var iframe = document.getElementById('iframe-post');
    if (iframe) {
      iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 10 + 'px';
    }
  }
  
  document.getElementById('iframe-post').onload = function() {
    adjustIframeHeight();
  };
</script>
{% endblock %}