{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Post{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  {% endblock %}

{% block body %}
<main class="dark-mode" id="main">
  <section class="container text-white pt-4">
      <form action="{% url 'post:update_post' post.id client.id %}" method="post">{% csrf_token %}
        <div class="form-group py-2">
          <label for="title"><h3>Editar Post:</h3></label>
          <input value="{{ post.title }}" type="text" name="title" class="form-control bg-black border-dark text-white" id="title" aria-describedby="titleHelp">
        </div>
        <textarea name="text-content" id="mytextarea">{{ post.content }}</textarea>
        <div class="d-flex justify-content-end py-4">
          <input type="submit" class="btn btn-dark btn-sm" value="Atulizar Post">
        </div>
      </form>
  </section>
</main>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script> 
  var simplemde = new SimpleMDE({
    element: document.getElementById('mytextarea')
  });
</script>
{% endblock %}