{% for comment in comments %}
<section class="container p-4 d-flex">
  <aside class="d-flex flex-column justify-content-start align-items-center p-2 m-4">
    <form action="{% url 'post:vote' comment.id %}" method="POST" class="d-flex flex-column justify-content-start align-items-center">{% csrf_token %}
      <input type="hidden" name="type" value="comment">
      <input type="hidden" name="id-post" value="{{post.id}}">
      <button type="submit" name="vote" value="up" style="border: none; background: none; color: inherit;" class="bi bi-chevron-up"></button>
      <p style="color: #1174f5; font-size: 14px;" class="m-0">{{comment.likes}}</p>
      <button type="submit" name="vote" value="down" style="border: none; background: none; color: inherit;" class="bi bi-chevron-down"></button>
    </form>
    <p style="border-right: 1px dotted rgba(255, 255, 255, 0.2); min-height: 100%;"></p>
  </aside>
  <div>
    <div class="title-header">
      <div class="d-flex">
        <p><a class="creator" href="{% url 'client:profile' post.creator.id %}">{{ comment.creator }}</a></p>
        <p class="date">{{comment.creation_date}}</p>
      </div>  
      <div class="hidden" hidden>{{comment.content}}</div>
      <div class="article show"></div>
    </div>
    <section class="container text-white mt-3">
      <button type="button" value="Publicar conteúdo" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#myModal{{comment.id}}">Responder</button>
    </section>
    <div class="modal fade" id="myModal{{comment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color: #212529;">Responder o Comentário</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'post:comment' comment.id %}" method="post">{% csrf_token %}
            <div class="modal-body">
              <input type="hidden" name="type" value="comment">
              <input type="hidden" name="id-post" value="{{post.id}}">
              <textarea name="text-content" id="mytextarea2"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success">Responder</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    {% if first_listing %}
      {% include 'partials/comment.html' with comments=comment.comments.all first_listing=False %}  
    {% else %}
      {% include 'partials/comment.html' with comments=comment.list_comments %}  
    {% endif %}
  </div>
</section>
{% endfor %}

