<footer class="footer container align-items-center d-flex justify-content-between mb-0" style="height: 10vh;">
    &copy; 2023 TabHistória
    <nav class="navbar-nav">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-person-lines-fill"></i> Contato</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/Michel-Rooney/tabHistoria/"><i class="bi bi-github"></i> GitHub</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Termos de Uso</a></li>	
      </ul>
    </nav>
</footer>