<header style="height: 10vh; background-color: #161B22;" class="d-flex align-items-center justify-content-between">
  <nav class="navbar-nav">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="">TabHistoria</a></li>
        <li class="nav-item"><a class="nav-link" href="">Relevantes</a></li>
        <li class="nav-item"><a class="nav-link" href="">Recentes</a></a></li>
      </ul>
  </nav>
  <nav class="navbar-nav">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-brightness-high" id="change-theme"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Cadastrar</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-plus-lg"></i></a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="memberDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-square" id="change-mode"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="memberDropdown" style="background-color: #161B22;">
          <li><a class="dropdown-item" href="#"><i class="bi bi-house-door"></i> Michel & Juan</a></li>
          <li><hr style="height: 1px; color: white;"></li>
          <li><a class="dropdown-item" href="#">Publicar novo conteúdo</a></li>
          <li><a class="dropdown-item" href="#">Meus conteúdos</a></li>
          <li><a class="dropdown-item" href="#">Editar perfil</a></li>
          <li><hr style="height: 1px; color: white;"></li>
          <li><a class="dropdown-item" href="#" style="color: red;">Sair</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>