{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="dark-mode d-flex flex-column align-items-center text-white">
  <h1 class="py-5">Cadastrar</h1>
  <form action="{% url 'register' %}" method="POST" class="register-form valid-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" name="username" class="form-control bg-black border-dark text-white" id="name" aria-describedby="telHelp">
    </div>
    <div class="form-group pt-3">
      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control bg-black border-dark text-white" id="email" aria-describedby="emailHelp">
    </div>
    <div class="form-group pt-3">
      <label for="password">Password:</label>
      <div class="input-group">
        <input type="password" name="password" class="form-control bg-black border-dark text-white" id="password">
        <button class="btn btn-outline-secondary" type="button" id="toggle-password"><i class="bi bi-eye"></i></button>
      </div>
    </div>
    <div class="form-group bg-black mt-3 p-3">
      <p>A senha deve conter:</p>
      <ul id="password-check-list" class="text-danger">
        <li>Pelo menos uma letra maiuscula ex.(A, B, C) <i class="bi bi-check-all"></i></li>
        <li>Pelo menos uma letra minúscula ex.(a, b, c) <i class="bi bi-check-all"></i></li>
        <li>Pelo menos um número <i class="bi bi-check-all"></i></li>
        <li class="">No mínimo 6 caracteres <i class="bi bi-check-all"></i></li>
      </ul>
    </div>
    <div class="d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-dark mt-3">Cadastrar</button>
    </div>
  </form>   
</main>
{% endblock %}
