{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="dark-mode d-flex flex-column align-items-center text-white">
  <h1 class="py-5">Login</h1>
  <form action="{% url 'login' %}" method="POST" style="width: 30%;">{% csrf_token %}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control bg-black border-dark text-white" id="email" aria-describedby="emailHelp">
    </div>
    <div class="form-group pt-3">
      <label for="password">Password:</label>
      <div class="input-group">
        <input type="password" name='password' class="form-control bg-black border-dark text-white" id="password">
        <button class="btn btn-outline-secondary" type="button" id="toggle-password"><i class="bi bi-eye"></i></button>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-dark mt-3">Login</button>
    </div>
  </form>  
</main>
{% endblock %}


