html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-link {
	color: white
}

.nav-link:hover {
	color: #919191;
	transition: all 300ms ease-in-out ;
}

.bi-brightness-high {
	color: yellow;
}

.bi-moon-stars {
	color: #fff;
}

.bi-brightness-high:hover {
	color: #949405;
	transition: all 300ms ease-in-out ;
}

.dark-mode {
	min-height: 80vh;
	background-color: #0D1117;
}

.dropdown-item {
	color: white;
}

.navbar-nav .nav-link.show {
	color: #9e9e9e;
}

.ligth-mode {
	min-height: 80vh;
	background-color: #dddcdc;
	color: black;
}
.text-white {
	color: white ;
}

.ligth-mode .news,
.ligth-mode .news a,
.ligth-mode .text-white,
.ligth-mode h3,
.light-mode a.fa{
	color: #000;
}
.light-mode .btn-dark{
	background-color: #000;
}

.container {
	max-width: 1012px;
}

.more p{
	font-size: 10px;
	color: #6E7681;
}

a{
	color: #fff;
	text-decoration: none;
}

h2 {
	font-weight: 300;
}

h2 a:hover {
	text-decoration: underline;
}

.btn-link {
	color: #fff;
	text-decoration: none;
}

body {
	background-color: #161B22;
}

.footer {
	margin-bottom: 0;
	color: #fff;
	max-height: 100px;
}

.bg-dark {
	background-color: #303030;
}

.form-control:focus {
  border-color: white;
  box-shadow: 0 0 0 0.1rem white;
}

.editor-toolbar a {
	color: #ffffff!important;
}

#mytextarea {
	position: fixed;
	color: #fff;
}

.public img {
	width: 900px;
}

@media (max-width: 600px) {
	ul.nav {
		font-size: 10px;
	}
	.bi-plus-lg, #change-theme{
		display: none;
	}
	.footer {
		display: flex;
		flex-direction: column;
	}
	.footer nav ul li {
		font-size: 10px;
		padding: 0 10px;
	}
}