{% for comment in comments %}
<section class="container p-4 d-flex">
  <aside class="d-flex flex-column justify-content-start align-items-center p-2 m-4">
    <form action="{% url 'vote' comment.id %}" method="POST" class="d-flex flex-column justify-content-start align-items-center">{% csrf_token %}
      <input type="hidden" name="type" value="comment">
      <input type="hidden" name="id-post" value="{{post.id}}">
      <button type="submit" name="vote" value="up" style="border: none; background: none; color: inherit;" class="bi bi-chevron-up"></button>
      <p style="color: #1174f5; font-size: 14px;" class="m-0">{{comment.likes}}</p>
      <button type="submit" name="vote" value="down" style="border: none; background: none; color: inherit;" class="bi bi-chevron-down"></button>
    </form>
    <p style="border-right: 1px dotted rgba(255, 255, 255, 0.2); min-height: 100%;"></p>
  </aside>
  <div>
    <div class="title-header">
      <div class="d-flex">
        <p><a class="creator" href="{% url 'profile' post.creator.id %}">{{ post.creator }}</a></p>
        <p class="date">{{comment.creation_date}}</p>
      </div>
      <p class="text-white">{{ comment.content }}</p>
    </div>
    
    <div class="form-group py-2">
      <button class="btn btn-dark btn-sm response" value="Publicar conteúdo">Responder</button>
    </div>
    <form class="form d-none" action="{% url 'comment_comment' comment.id %}" method="post">{% csrf_token %}
      <textarea name="text-content" id="mytextarea2"></textarea>
      <div class="d-flex justify-content-end py-4 gap-3">
        <input class="btn btn-dark cancel" style="background-color: transparent;" value="Cancelar">
        <input type="submit" class="btn btn-success" value="Responder">
      </div>  
    </form>
    {% if first_listing %}
      {% include 'partials/comment.html' with comments=comment.comments.all first_listing=False %}  
    {% else %}
      {% include 'partials/comment.html' with comments=comment.list_comments %}  
    {% endif %}
  </div>
</section>
{% endfor %}

